{% extends 'commen/parent.html' %}

{% block title %}
    商家后台{{ flags }}
{% endblock %}

{% block content %}
    <div class="login_box">
        <div class="login_l_img"><img src="{{ url_for('static',filename='images/login-img.png') }}"/></div>
        <div class="login" style="height:{{ height }}px;">
            <div class="login_logo"><img src="{{ url_for('static',filename='images/login-logo.png') }}"/></a>
            </div>
            <div class="login_name">
                <p>后台管理系统</p>
            </div>
            <form action="" method="post" novalidate>
                {% for item in form %}
                    {{ item }}
                    <p class="text-danger">{{ item.errors[0] }}</p>
                {% endfor %}
                <p class="text-danger">{{ error }}</p>
                <input value="{{ flags }}" type="submit">
            </form>
        </div>
    </div>

    <div class="copyright" style="bottom:0;position: fixed">嘟狗科技有限公司 版权所有©2016-2019 技术支持电话：18380433380</div>
{% endblock %}